// ****************************************************************************
// This file is used to store the configuration of the Remote Signer
// ****************************************************************************

// Use these pins for the standard lilygo s3 board without the button expansion board
#define PIN_BUTTON_1 0
#define PIN_BUTTON_2 14
#define PIN_BUTTON_3 13
#define PIN_BUTTON_4 12

// Use these pins for the lilygo s3 board with the button expansion board
// #define PIN_BUTTON_1 11
// #define PIN_BUTTON_2 10
// #define PIN_BUTTON_3 13
// #define PIN_BUTTON_4 12